body {
    font: 24px Helvetica;
    background: #122638;
    color: white;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
}

.flex-item {
    color: white;
    text-align: center;
    align-items: stretch;
    padding: 5px;
}

.flex-success-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    background-color: #42f46e;
    
}

.flex-success-items {
    color: white;
    text-align: center;
    align-items: stretch;
    padding: 5px;

}

#start {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 60px;
  padding: 10px 20px 10px 20px;
}

#start:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#question {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    min-height: 200px;
}

header {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    text-align: center;
}

footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    font-size: small;
    text-align: left;
}


/* Too narrow to support three columns */

@media all and (max-width: 640px) {
    #main,
    #page {
        flex-direction: column;
    }
    header,
    footer {
        min-height: 50px;
        max-height: 50px;
    }
}
