<!DOCTYPE html>
<html lang="en">

<head>
    <title>Name of your game here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question One of the Your Game">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>

<body>

    <header>Name of your game HERE</header>
    
    <div id="question">
        <div class="flex-item">
            <img src="http://img.timeinc.net/time/daily/2008/0811/360_mickey_mouse_1117.jpg" height="245" width="360" style="padding-right:100px;">
        </div>

        <div class="flex-item" >
           <p>Question 3 Goes HERE</p>
        </div>
        
    </div>

    <div class="flex-container">
        <div class="flex-item" data-color="#2980B9" style="background-color: rgb(42, 128, 185);">
            <p>Multiple Choice Answer 1</p>
        </div>
        <div class="flex-item" data-color="#8f44ad" style="background-color: rgb(143, 68, 173);">
            <p>Multiple Choice Answer 2</p>
        </div>
        <div class="flex-item" data-color="#16a086" style="background-color: rgb(22, 160, 134);">
            <p>Multiple Choice Answer 3</p>
        </div>
        <div class="flex-item" data-color="#f1c40f" style="background-color: rgb(241, 196, 15);">
            <p>Multiple Choice Answer 4</p>
        </div>
    </div>
    
    <footer>
        <p>&copy; Your group name GWC 2017</p>
    </footer>

</body>

</html>
