<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Name of your game here</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">About</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Question 1 here</h3>
        </div>
 

 
        <div class="row">
            
            image
        

        </div>
        
        <div class="row">
            
            multiple choice answers here
        

        </div>

        <div class="row">
            
            Success or Error redirect here
        

        </div>
 
        <footer class="footer">
            <p>&copy; Your group name GWC 2017</p>
        </footer>
        
    </div>
</body>
</html>