<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cartoon Trivia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question One of the Your Game">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

    <header>Cartoon Trivia</header>
    
    <div class="flex-success-container"  style="background-color: rgb(244, 66, 80)">
        <div class="flex-item">
            <p>Zero Points</p>
        </div>
        <div class="flex-item">
            <p>Correct Answer: Better Luck Next Time</p>
        </div>
        <div class="flex-item">
            <img src="http://imgur.com/FuresVa.gif" style="padding-right:0px;">
            <p> </p>
        </div>
    </div>


    <footer>
        <p>&copy; Your group name GWC 2017</p>
    </footer>

</body>

</html>
