<!DOCTYPE html>
<html lang="en">

<head>
    <title>Name of your game here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Question One of the Your Game">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

    <header>Name of your game HERE</header>
    
    <div class="flex-success-container" data-color="#2980B9">
        <div class="flex-item" >
            <p>Success!</p>
        </div>
        <div class="flex-item">
            <p>image of success giphy list</p>
        </div>
    </div>


    <footer>
        <p>&copy; Your group name GWC 2017</p>
    </footer>

</body>

</html>
